<h1>Accounts</h1>
<table style="border:1px;">
  <thead>
    <tr>
      <th>No.</th>
      <th onclick='clickCol()'>Account</th>
      <th>Name</th>
      <th>Site</th>
      <th>Accounttype</th>
      <th>Mainphone</th>
      <th>Mainfax</th>
      <th> </th>
      <th> </th>
      <th>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Menu <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'New Account', new_account_path %></li>
            <li><a href="javascript:void(0);" onclick="return editAccount(this);">Edit Account</a></li>
          </ul>
        </li>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each_with_index do |account, i| %>
      <% if (i+1)!=params[:id].to_i %>
        <tr>
          <td onclick="chooseRow(this)"><%= (i+1)  %></td>
          <td><%= account.Account %></td>
          <td><%= account.Name %></td>
          <td><%= account.Site %></td>
          <td><%= account.AccountType %></td>
          <td><%= account.MainPhone %></td>
          <td><%= account.MainFax %></td>
        </tr>
      <% else %>
        <tr>
          <%= form_for(account) do |f| %>
            <td onclick="chooseRow(this)"><%= (i+1)  %></td>
            <td><%= f.text_field :Account %></td>
            <td><%= f.text_field :Name %></td>
            <td><%= f.text_field :Site %></td>
            <td><%= f.text_field :AccountType %></td>
            <td><%= f.text_field :MainPhone %></td>
            <td><%= f.text_field :MainFax %></td>
            <td><%= f.submit %></td>
            <td><%= link_to 'Edit', edit_account_path(account) %></td>
            <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%# @i++ %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
